<!-- <div ng-if="!vm.event.name">
  <h2>This Event Does Not Exist</h2>
</div> -->

<div ng-if="vm.event.title">
  <h2>{{vm.event.title}}</h2>
  <p>{{vm.event.body}}</p>
  <div class="amounts">
    <div class="width50">
      <h3>Goal: </h3>
      <p>{{vm.event.goal}}</p>
    </div>
    <div class="width50">
      <h3>Total Raised: </h3>
      <p data-ng-if="vm.event.currentAmount < vm.event.goal/2" class="danger">${{vm.event.currentAmount}}</p>
      <p data-ng-if="vm.event.currentAmount >= vm.event.goal/2 && vm.event.currentAmount < vm.event.goal" class="warning">${{vm.event.currentAmount}}</p>
      <p data-ng-if="vm.event.currentAmount >= vm.event.goal" class="success">${{vm.event.currentAmount}}</p>
    </div>
  </div>
  <h3>Donations: </h3>
  <div ng-repeat="donation in vm.event.donations">
    <p>{{donation.name}}: {{donation.amount}} - {{donation.body}}</p>
  </div>

<form>
  <input placeholder="Name" data-ng-model="vm.name" />
  <input placeholder="Amount" data-ng-model="vm.amount" />
  <input placeholder="Body" data-ng-model="vm.body" />
  <button type="button" data-ng-click="vm.addDonation()">Create</button>
</form>


</div>
